@charset "utf-8";
/* CSS Document */

/** CSS RESET **/
header, footer, section, aside, nav, article { display: block;}

html { 
  background: url(../img/home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
	background-color:#667682;
}

body, p {
  line-height: 2;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align:justify;

    
}


/* ----------------- content--------------------- */

section#content {
background-image:url(../img/bg_start.fw.png);
background-repeat:repeat;
max-width: 50%;
margin-left: auto; 
margin-right: 50px; 
margin-top: 180px; 
padding:  20px 130px;
}

/* -----------footer / header / inner--------------------------- */

header {
	background: #bbb;
	width: 100%; 
	position: fixed;
	left: 0;
	top: 0; 
	border-bottom:1px solid #666;
	border-top:1px solid #666;
}

.inner{
    margin-left: 15%;
    padding: 20px;
    max-width: 15%;
	max-height: 15%;
    background-color: none; 
    }


p#app {

	margin-left: 15%;
	background-color: none;
	max-width: 15%;
	font-size: 11px;
	
}

p#legal {
	background-color:#2D3D47;
	text-align: right; 
	margin-bottom: 0; 
	margin-left: auto; 
	margin-right: 0;
	font-size: 10px; 
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 10px; 
	padding-bottom: 5px;
	color: #FFFFFF; 
	position: absolute; 
	bottom: 0; 
	width: 100%;
	
}

div#social_icons {
	margin-bottom: 1.7%; 
	margin-left: auto; 
	margin-right: 0; 
	position: absolute; 
	bottom: 0; 
	width: 100%;
	background-color: none;
		
}

p#required {
	font-size: 11px; 
	color: #F90307;
	
}




	
/*-----RESET-----*/
* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


/*--- FORMARIETUNG REGISTRIERUNGSFORMULAR --- */ 

form {
	
	background-color: none; 
		
}

input {
	
	height: 50px; 
	/*background-color:rgba(0, 0, 0, 0);*/
	border: 2px solid #CACAD9;
	font-size: 15px; 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	margin: 0.5%; 
	padding-left: 20px; 
	max-width: 250px;
	
}

button
{
	/*display: block;*/
	margin-left: 18%;
	margin-top: 0.25%
	width: 150px; 
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	/*margin: 20px auto;*/
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;





